[submodule "tasks"]
	path = tasks
	url = https://github.com/biowdl/tasks.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/biowdl/scripts.git
[submodule "QC"]
	path = QC
	url = https://github.com/biowdl/QC.git
[submodule "gatk-preprocess"]
	path = gatk-preprocess
	url = https://github.com/biowdl/gatk-preprocess.git
[submodule "gatk-variantcalling"]
	path = gatk-variantcalling
	url = https://github.com/biowdl/gatk-variantcalling.git
